body {
    background-color: rgba(200, 100, 0, 0.3);
    font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    color: rgba(150, 25, 100, 0.7);
    text-align: center;
    font-size: 36px;
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    color: rgba(25, 150, 25, 0.9);
}

footer {
    background-color: rgba(100, 50, 120, 0.2);
    color: rgba(255, 0, 255, 0.8);
}

.welcome {
    text-align: center;
    font-weight: 700;
}

.dish-name {
    color: rgba(170, 50, 100, 0.7);
}