body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    width: 100%;
    padding: 3px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 5px;
    box-sizing: border-box;
}

.login-form {
    background-color: white;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 3px 3px 2px grey;
    border: 2px dotted black;
    text-align: center;
}